:root{
    background: #F2F2F2;
    background: #81B3D2;
    background: #EEEEEE;
    background: #766357;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
    background-color: #F2F2F2;
    overflow-x: hidden;
}
a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .wrapper {
    position: absolute;
    width: 1200px;
    margin: 0 auto;
    padding:  0 auto;
    background-color: #ffffff;
    margin-left: 20%;
}
.container {
  width: 1056px;
  margin: 0 auto; 
  list-style: none;
}
.container a {
  color: var(--basic-black);
}
.button {
  display: inline-block;
  vertical-align: top;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}
​.page-header {
  background-color: #ffffff;
}

.page-header-logo {
  position: absolute;
width: 138px;
height: 70px;
left: 563px;
top: 0px;
}
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  list-style: none;
  line-height: 21px;
 
}
.promo-first {
  width: 100%;
  min-height: 508px;
  background-image: url("/img/welcome.svg");
  background-position: 0% 100.5%, center 28.5%;
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-color: #81b4d3;
}
.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantage-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantage-image img {
  width: 600px;
  height: 256px;
}

.blue {
  width: 400px;
  padding-top: 48px;
  text-align: center;
  background: #81b3d2;
  color: white;
}

.blue h3 {
  width: 160px;
  margin: 0 auto;
  margin-left: 122px;
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.blue p {
  width: 302px;
  padding-bottom: 21px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}
.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.feature-item {
  width: 400px;
  text-align: center;
}

.feature-item h4 {
  position: relative;
  margin-top: 160px;
  padding: 0;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}

.feature-item p {
  width: 288px;
  margin: 0 auto;
  margin-bottom: 82px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}
.advantage-image img {
  height: auto;
  width: 100%;
  display: block;
}

.advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #eeeeee;
  list-style: none;
}

.more-advantage {
  width: 400px;
  text-align: center;
  padding-bottom: 38px;
}

.more-advantage h3 {
  width: 134px;
  margin: 0 auto;
  margin-bottom: 22px;
  margin-top: 48px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
  color: #000000;
}
.more-advantage p {
  width: 264px;
  margin: 0 auto;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #333333;
}
.search-hotel{
   display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 73px;
    padding-top: 50px;
    background-color: #ffffff;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  margin-right: 224px;
  padding: 0;
  width: 154px;
  text-align: center;
  list-style: none;
}

/* начало фильтровки */
.filters{
  font-size: 14px;
  line-height: 21px;
}
.filter-image{
  width: 1200px;
  height: 217px;
  background-image: url("/img/background.png");
  background-position: contain;
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-color: #fafafa;
  
}
.filter legend {
  font-size: 16px;
  line-height: 21px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}
.filter-input{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
}
.item-filter{
  font-size: 14px;
  line-height: 21px;
  font-family: PT Sans;
font-style: normal;
font-weight: normal;
}
.arrow-up{
  position: absolute;
  width: 11px;
  height: 10px;
  color: darkgrey;
}
.arrow-down{
  position: absolute;
  width: 11px;
  height: 10px;
  background: lightskyblue;
  left: 30px;
}
.range-slider{

}
/* фильтрование каталога */
.catalog-list{
background-color: white;
}
.catalog-item {
  list-style: none;
}
.catalog-item a {
  color: var(--basic-black);
}
.item-left-side{
  margin: 10px 10px 10px;
  padding: 10px 10px 10px;;
}
.item-image{
  width: 135px;
  height: 90px;
}
.item-inner{
  font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 26px;

}
.item-more{
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

}
.item-price{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.item-right-side{
  font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
  background: #F2F2F2
}
.rating-stars{
  background-image: url(/img/star.png)
}
.more-button{
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background: #81B3D2;
  color: #FFFFFF
}
.item-button{
  font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
  background: #766357;
}
